<section class="page-login" id=login>
    <div class="row-img">
        <img src="assets/login.svg" alt="imagen de check" class="img-login">
    </div>
    <div class="row-login">
        <form class="form-login">
            <h1 class="text-login">Login</h1>
            <div class="container-form">
                <i class="far fa-envelope"></i>
                <input type="email" class="input-login" placeholder="E-mail" formControlName="email">
            </div>
            <div class="container-form">
                <i class="fas fa-key"></i>
                <input type="password" class="input-login" placeholder="Password" formControlName="password">
            </div>
            <p class="text-login">forgot password?</p>
            <button type="submit" class="sign-in">sign in</button>
        </form>
    </div>
</section>
