<div class="espacio"></div>
<p-toast position="top-left"  key="myKey1"></p-toast>
<p-table [value]="usuarios" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="p-d-flex">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
        </div>
    </ng-template>s
    <ng-template pTemplate="header">
        <tr>
            <th>Identificacion</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Direccion</th>
            <th>Genero</th>
            <th>Rh</th>
            <th style="width:4rem"></th>
            <th style="width:4rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.identificacion}}</td>
            <td>{{product.nombre}}</td>
            <td>{{product.apellido}}</td>
            <td>{{product.telefono}}</td>
            <td>{{product.correo}}</td>
            <td>{{product.direccion}}</td>
            <td>{{product.genero}}</td>
            <td>{{product.rh}}</td>
            <td>
                <button type="button" pButton pRipple icon="pi pi-user-edit" (click)="selectProduct(product)"></button>
            </td>
            <td>
                <button type="button" pButton pRipple icon="pi pi-times" (click)="selectProduct(product)" class="p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
</p-table>