<div class="espacio"></div>

<div *ngIf="edit === 0; else editar">
    <div class="botones">

        <button pButton type="button" icon="pi pi-check" iconPos="left" label="Guardar" (click)="guardar()" class="p-button-success"></button>
    </div>
</div>

<ng-template #editar>
   <div class="botones">
       <button pButton type="button"  icon="pi pi-user-edit" iconPos="left" label="Editar" class="p-button-warning"></button>   
    <button pButton type="button" icon="pi pi-times" iconPos="left" label="Eliminar" class="p-button-danger"></button>
   </div>
</ng-template>

<div class="espacio2"></div>

<div class="cusuarios">
    <div class="p-mr-6">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="nombre">
            <label for="inputtext">Nombre</label>
        </span>
    </div>
    <div class="p-mr-2">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="apellido">
            <label for="inputtext">Apellido</label>
        </span>
    </div>
    <div class="p-mr-2">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="telefono">
            <label for="inputtext">Telefono</label>
        </span>
    </div>
    <div class="p-mr-2">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="direccion">
            <label for="inputtext">Direccion</label>
        </span>
    </div>
    <div class="p-mr-2">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="correo">
            <label for="inputtext">Correo</label>
        </span>
    </div>
    <div class="p-mr-2">
        <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [(ngModel)]="identificacion">
            <label for="inputtext">Identificacion</label>
        </span>
    </div>
    
    <div class="p-fluid">
        <span class="p-float-label">
            <p-calendar inputId="calendar" [(ngModel)]="calendario"></p-calendar>
            <label for="calendar">Calendar</label>
        </span>
    </div>
    <div class="p-fluid">
        <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="generos" [(ngModel)]="genero"
                optionLabel="name"></p-dropdown>
            <label for="dropdown">Genero</label>
        </span>
    </div>
    <div class="p-fluid">
        <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="rol"
                optionLabel="name"></p-dropdown>
            <label for="dropdown">Rol</label>
        </span>
    </div>
    <div class="p-fluid">
        <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="tiposangres" [(ngModel)]="tiposangre"
                optionLabel="name"></p-dropdown>
            <label for="dropdown">Tipo de sangre</label>
        </span>
    </div>
</div>
   
  