@import './normalize.css';
:root{
    --primario : #2196f3;
    --secundario: #0075A0;
    --medio: #0075A0;
    --darksecundario: #00425F;
    --darkprimario: #001B2B;
    --blanco:#ffffff;
}
html,body{
    background-color: var(--surface-c);
    font-family: var(--font-family);

}
.text-layout{
    color: var(--text-color);
}
.espacio{
    width: 100%;
    height: 40px;
}